beautifulsoup4
credentials
emoji
folium
geckodriver-autoinstaller
geopandas
lxml
matplotlib
nltk
numpy
pandas
plotly
pyogrio
regex
requests
scikit-learn
seaborn
selenium
shapely
textblob
textstat
transformers
unidecode
webdriver_manager
wordcloud
